# Node
node.js/node_modules
node.js/package-lock.json

# General build outputs
**/bin
**/obj

# Java
*.class

# Python
python/**/__pycache__/

# Dist
**/dist/

# Audio example outputs
**/*.wav
**/*.mp3
